<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">{{onlyOdd?'Show Even':'Show Odd'}}</button>
      <br><br>
      <div *appUnless="onlyOdd">
        <ul class="list-group">
          <li *ngFor="let num of evens" [ngClass]="{'even': num % 2 === 0}" [ngStyle]="{ 'background-color': num%2 === 0 ? 'beige':'yellow'}"
            class="list-group-item">
            {{num}}
          </li>
        </ul>
      </div>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li *ngFor="let num of odds" class="list-group-item" [ngClass]="{'odd': num % 2 !== 0}">
            {{num}}
          </li>
        </ul>
      </div>
      <p appBetterHighlight>
        Keep Silent and Focus.
      </p>
      <p appMoreBetterHighlight [defaultColor]="'beige'" [highlightColor]="'orange'">
        Believe in Yourselves and keep working.
      </p>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Above are Only odd</p>
      </ng-template>
    </div>

    <div>
      Choose Age :
      <select placeholder="Choose your age range" class="sel-green" (change)="age = $event.target.value">
        <option value="null" disabled selected> Please select an age </option>
        <option value=10>0 - 10</option>
        <option value=20>10 - 20</option>
        <option value=30>20 - 30</option>
        <option value=40>30 - 40</option>
        <option value=50>40 - 50</option>
        <option value=60>50 - 60</option>
      </select>
    </div>
    <span *ngIf="age" class="text text-success">You are  :</span>
    <div [ngSwitch]="age" class="text-left even">
      <span *ngSwitchCase=10>
        Kid
      </span>
      <span *ngSwitchCase=20>
        Teenager
      </span>
      <span *ngSwitchCase=30>
        Adult
      </span>
      <span *ngSwitchCase=40>
        Middle aged
      </span>
      <span *ngSwitchCase=50>
        Old man
      </span>
      <span *ngSwitchCase=60>
        Grand man
      </span>
      <span *ngSwitchDefault class="text-danger">

      </span>
    </div>
  </div>
</div>